{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="r">
        <div class="col">
            <h1>This is the home page</h1>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis adipisci eius eum asperiores magni
                obcaecati
                tenetur ab nulla quaerat quae.</p>
        </div>
    </div>
</div>
{{end}}